{% extends "layout.html" %}

{% block head_content %}
<title>{{ title }}</title>
{% endblock head_content %}

{% block body_content %}
<h1>Dwarven Generator</h1>
<div class='form'>
    <form method="POST" action="{{ url_for('home') }}">
        <div class='form-group'>
            {{ form.gender.label }}
            {% if form.gender.errors %}
                {{ form.gender }}
                <div class='error'>
                    {% for error in form.gender.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.gender }}
            {% endif %}
        </div>
        <br>
        <div>
            {{ form.submit }}
        </div>
    </form>
</div>
{% endblock body_content %}